@model List<ClassLibrary.Product>

<body class="bg-dark">
    <div class="container bg-light" style="padding-left: 3rem;padding-right: 3rem;">
        <section class="bg-light " style=" padding: 1rem;">

            @{
                @if ((Model != null) && (Model.Count > 0))
                {
                    <div class="row justify-content-around">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 " style=" padding: 1rem;">
                                <div class="card  border-danger">
                                    <img src="@item.img_url" class="card-img-top img-boy" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">@item.Name</h5>
                                        <button type="button" class="btn btn-outline-warning"><a asp-controller="Product" asp-action="Profil" asp-route-id="@item.ID" class="card-link">Show product</a></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

                else
                {
                    <div >
                        <h3 >Not found.</h3>
                       
                    </div>
                }
            }

        </section>
    </div>
</body>